{% block title %} Add a new category! {% endblock %}

{% block body_block %}
{% load crispy_forms_tags %}
{{ form1.media }}
<div class="col-md-offset-2 col-md-8">
        <h3>Add Your Post</h3>
        <form id="post_form" method="post" action="/blog/add_post/"/>
            {% csrf_token %}
            {% for hidden in form1.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form1.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}<br>
            {% endfor %}

            {% csrf_token %}
            {% for hidden in form2.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form2.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}<br>
            {% endfor %}

            <input type="submit" name="submit" value="Submit New Post"/>
        </form>

</div>
<script>
tinyMCE.init({
  mode: "textareas",  // to do all text areas
  // or
  selector: "#id_myfield",  // change this value according to your HTML
});
</script>
{% endblock %}

