{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

{% block body_block %}

<div class="container">
    <div class="categories">
    <h2>Categories</h2>
    {% if categories %}
    <ul>
        {% for category in categories %}
        <li class="list-group-item">
            <a href="{% url 'blog:category' category.slug %}"> {{ category.name }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>There are no categories present.</strong>
    {% endif %}
    </div>

{% block post %}
<div class="post-preview">
    {% if post_list %}

    {% for post in post_list %}
    <a href="{% url 'blog:blog_post' post.slug %}" class="post-title"><h2>{{ post.title }}</h2></a>
    <h4>{{ post.category }}</h4>

    <p class="post-meta">{{ post.posted }}</p>

    <p>{{ post.body | safe | truncatewords:50 }}<span class="read-more"><a href="{% url 'blog:blog_post' post.slug %}">read more</a></span></a> </span> </p>

    {% endfor %}
</div>
{% else %}
<strong>There are no post.</strong>
<img width="500" height="500" src="{% static 'images/rango.jpg' %}" alt="Picture of Rango"/>
{% endif %}


{% endblock %}
</div>
{% endblock %}
</div>
